* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: radial-gradient(ellipse at top, #0f2fe3, transparent),
    radial-gradient(ellipse at bottom, #4040ae, transparent);
}

.main {
  margin: 0 auto;
  background-color: white;
  width: 875px;
  max-width: 90vw;
  height: 100vh;
  padding: 24px;
}

.input-div {
  gap: 24px;
  display: flex;
  padding-bottom: 24px;
  border-bottom: 1px solid #94a3b8;
}

.name-input {
  font-size: 16px;
  padding: 6px 12px;
  /* border-color: #cbd5e1; */
}

.role-select {
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 4px;
}

.submit-button {
  gap: 4px;
  border: none;
  outline: none;
  color: white;
  display: flex;
  cursor: pointer;
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 9px;
  align-items: center;
  background-color: #0284c7;
}

.submit-button:hover {
  background-color: #0369a1;
}

.members-list {
  list-style: none;
}

.list-div {
  padding-top: 24px;
}

.members-div {
  overflow-y: auto;
  padding: 0px 12px;
  height: calc(100vh - 168px);
}

.member {
  display: flex;
  padding: 8px 12px;
  border-radius: 8px;
  margin-bottom: 12px;
  align-items: center;
  border: 1px solid #94a3b8;
  justify-content: space-between;
}

.member-left-part {
  gap: 12px;
  display: flex;
  align-items: center;
}

.member-name {
  padding-bottom: 2px;
}

.remove-button {
  width: 32px;
  height: 32px;
  border: none;
  display: flex;
  outline: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #ef4444;
}

.remove-button:hover {
  background-color: #dc2626;
}

.search-div {
  display: flex;
  padding-bottom: 24px;
  align-items: center;
  justify-content: space-between;
}
